<div class="container">
  <form action="/memos/<%= params[:id] %>" method="post">
    <div>
      <label for="title" class="form-label">タイトル</label>
      <input type="text" id="title" name="title" class="form-area" value="<%= CGI.escapeHTML(@title) %>">
    </div>
    <div>
      <label for="content" class="form-label">内容</label>
      <textarea name="content"><%= CGI.escapeHTML(@content) %></textarea>
    </div>
    <div class="btn">
      <input type="hidden" name="_method" value="patch">
      <input type="submit" class="btn-primary" value="保存">
    </div>
  </form>
</div>
