<ul>
  <% @memos.each do |id, memo| %>
    <li>
      <a href="/memos/<%= id %>"><%= CGI.escapeHTML(memo["title"]) %></a>
    </li>
  <% end %>
</ul>
<div class="container">
  <a class="btn-primary" href="/memos/new">追加</a>
</div>
